<div class="h-100 pb-2">
  <div class="overflow-y-auto mb-3 pt-1" style="height: calc(100% - 50px);">
    <div class="row">
      <div class="col-md-8 col-lg-6 col-xl-5 button-col">
        <span class="p-float-label">
          <input pInputText [(ngModel)]="planta.denumireStintifica" [autofocus]="planta.id == ''" />
          <label>Denumire știntifică</label>
        </span>
        <div class="pt-4 mt-1">
          <span class="p-float-label">
            <input pInputText [(ngModel)]="planta.denumirePopulara" />
            <label>Denumire populară</label>
          </span>
        </div>
        <div class="pt-4 mt-1">
          <span class="p-float-label">
            <textarea pInputTextarea id="observatii" [(ngModel)]="planta.observatii"></textarea>
            <label for="observatii">Observații</label>
          </span>
        </div>
      </div>
      <div class="col-md-4 col-lg-6 col-xl-7 button-col text-center align-content-center pt-0">
        <p-image [src]="planta.imagine || planta.imageURL" class="plant-image" height="240" [preview]="true"></p-image>
      </div>
    </div>
    <p-tabView *ngIf="planta.floare" (onChange)="selectTab($event)">
      <p-tabPanel *ngFor="let organItem of organe" header="{{organItem.label}}">
        <div class="row">
          <div class="col-md-8 col-lg-6 col-xl-5 button-col">
            <span class="p-float-label">
              <input class="p-inputwrapper-filled" [(colorPicker)]="planta[organItem.value].culoare"
                [style.background]="planta[organItem.value].culoare" [cpPresetColors]="culori" cpColorMode="presets"
                cpAlphaChannel="disabled" />
              <label>Culoare</label>
            </span>
            <div class="pt-4 mt-1">
              <span class="p-float-label">
                <p-dropdown [options]="marimi" [(ngModel)]="planta[organItem.value].marime" [showClear]="true"
                  placeholder="Selectează o mărime"></p-dropdown>
                <label>Mărime</label>
              </span>
            </div>
            <div class="pt-4 mt-1">
              <span class="p-float-label">
                <textarea pInputTextarea id="observatii" [(ngModel)]="planta[organItem.value].observatii"></textarea>
                <label for="observatii">Observații {{organItem.value}}</label>
              </span>
            </div>
          </div>
          <div class="col-md-4 col-lg-6 col-xl-7 button-col text-center align-content-center pt-0">
            <p-image *ngIf="planta[organItem.value].imagine" [src]="planta[organItem.value].imagine" class="plant-image"
              height="220" [preview]="true"></p-image>
            <div *ngIf="!planta[organItem.value].imagine" class="align-content-center m-4">
              <h5 class="p-2">Adaugă poză {{organItem.value}}</h5>
              <button pButton label="Din galerie" class="p-button-secondary m-1" (click)="fileInput.click()"
                icon="pi pi-image"></button>
              <button pButton label="Fotografie" class="p-button-secondary m-1" (click)="cameraInput.click()"
                icon="pi pi-camera"></button>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>

  <div class="actions-bar">
    <div>
      <button *ngIf="planta.id !=''" pButton class="p-button-danger" (click)="onDelete()" icon="pi pi-trash"></button>
    </div>
    <div>
      <button pButton label="Renunță" class="p-button-secondary" (click)="onCancel()" icon="pi pi-undo"></button>
      <button pButton label="Salvează" class="p-button-success ms-2" (click)="onSave()" icon="pi pi-save"></button>
    </div>
  </div>
</div>

<input type="file" #cameraInput (change)="onFileSelected($event)" accept="image/*" capture="environment"
  style="display: none;" />
<input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;" />