.actions-bar {
  display: flex;
  justify-content: space-between;
}

.details-main-image {

  ::ng-deep .p-image-preview-indicator,
  ::ng-deep img {
    max-height: 270px;
    border-radius: 6px;
  }
}

.details-sec-image {

  ::ng-deep .p-image-preview-indicator,
  ::ng-deep img {
    max-height: 230px;
    border-radius: 6px;
  }
}

.delete-photo-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.color-circle {
  ::ng-deep input {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    padding: 0;
    cursor: pointer;
  }

  ::ng-deep label {
    left: 4px;
  }
}

.no-color {
  background: repeating-linear-gradient(45deg,
      #ccc,
      #ccc 10px,
      #fff 10px,
      #fff 20px);
}

.added-by {
  display: inline-block;
  height: 100%;
  align-content: center;
  margin: 0;
  padding-left: 10px;
}