<p-toast position="top-center"></p-toast>

<p-menu #userMenu [model]="userItems" [popup]="true" />

<div class="page">
  <div class="top-bar">
    <div>
      <button *ngIf="!isSmallScreen && plante.length > 0" pButton (click)="changeViewType()" class="p-button-secondary"
        icon="pi pi-objects-column"></button>
    </div>
    <div>
      <button pButton *ngIf="plante.length > 0" label="Adaugă plantă" class="p-button-success me-2" (click)="addPlant()"
        icon="pi pi-plus"></button>
      <button pButton icon="pi pi-user" (click)="userMenu.toggle($event)"></button>
    </div>
  </div>

  <div class="content pt-2">
    <p-progressSpinner class="loading" *ngIf="isLoading"></p-progressSpinner>

    <div class="h-100">
      <div class="row h-100">
        <div class="col-lg-3 col-md-4 pt-3 pb-2" *ngIf="!isLoading && plante.length > 0">
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="General">
              <div class="row">
                <div class="col-12 filter-col">
                  <span class="p-float-label">
                    <input pInputText [(ngModel)]="filter.denumireStintifica" (input)="filterPlants()" />
                    <label>Denumire știntifică</label>
                  </span>
                </div>
                <div class="col-12 filter-col">
                  <span class="p-float-label">
                    <input pInputText [(ngModel)]="filter.denumirePopulara" (input)="filterPlants()" />
                    <label>Denumire populară</label>
                  </span>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Floare">
              <div class="filter-col">
                <span class="p-float-label color-circle">
                  <input class="p-inputwrapper-filled" [(colorPicker)]="filter.culoare"
                    [style.background]="filter.culoare ? filter.culoare : 'url(\'../../../assets/noColor.png\')'"
                    [cpPresetColors]="culori" cpColorMode="presets" cpAlphaChannel="disabled"
                    (colorPickerChange)="filterDetailedPlants()" readonly />
                  <label>Culoare</label>
                </span>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>

        <div class="col-lg-9 col-md-8 h-100" *ngIf="!isLoading && plante.length > 0">
          <div *ngIf="!isLoading && filteredPlants.length > 0 && viewType==='list'"
            class="overflow-auto list-container h-100">
            <div *ngFor="let item of filteredPlants" class="list-item" (click)="editPlant(item)">
              <img [src]="item.preview" class="preview-image" loading="lazy" />
              <div style="flex-direction: column;">
                <h5 style="user-select: none;">{{ item.denumireStintifica }}</h5>
                <h6 class="ellipsis" style="font-weight: 300; user-select: none;">{{ item.denumirePopulara }}</h6>
              </div>
            </div>
          </div>
          <div *ngIf="!isLoading && filteredPlants.length > 0 && viewType==='grid'" class="grid-container h-100">
            <div *ngFor="let item of filteredPlants" class="grid-item" (click)="editPlant(item)">
              <img [src]="item.preview" class="preview-image" loading="lazy" />
              <div class="text-start ps-2 w-100">
                <h5>{{ item.denumireStintifica }}</h5>
                <h6 class="ellipsis" style="font-weight: 300;">{{ item.denumirePopulara }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && plante.length == 0" class="text-center align-content-center h-100">
      <h5 style="font-weight: 400;"> Momentan nu există plante salvate</h5>
      <button pButton label="Adaugă plantă" class="p-button-success m-3" (click)="addPlant()"
        icon="pi pi-plus"></button>
    </div>
  </div>
</div>

<p-dialog class="dialog-details" header="Editează planta" [draggable]="false" [modal]="true"
  [(visible)]="dialogDetailsVisible">
  <plant-details (cancel)="closeDialogs()" (save)="save($event)" (modify)="modify($event)" [planta]="plantaSelectata"></plant-details>
</p-dialog>

<p-dialog class="dialog-photo-search" header="Caută/adaugă plantă" [draggable]="false" [modal]="true"
  [(visible)]="dialogSearchPlantVisible">
  <search-plant-image (continueSaving)="continueSaving($event)" [planta]="plantaSelectata"></search-plant-image>
</p-dialog>

<p-confirmDialog acceptButtonStyleClass="p-button-danger ms-2" rejectButtonStyleClass="p-button-secondary"
  acceptLabel="Da" rejectLabel="Nu" />