<div class="">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 button-col">

      <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" height="128" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 button-col">
      <span class="p-float-label">
        <input pInputText id="denumireStintifica" [(ngModel)]="planta.denumireStintifica" autofocus />
        <label for="denumireStintifica">Denumire știntifică</label>
      </span>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 button-col">
      <span class="p-float-label">
        <input pInputText id="denumirePopulara" [(ngModel)]="planta.denumirePopulara" />
        <label for="denumirePopulara">Denumire populară</label>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 button-col">
      <span class="p-float-label">
        <p-dropdown [options]="culori" [(ngModel)]="planta.culoare" [showClear]="true"
          placeholder="Selectează o culoare"></p-dropdown>
        <label for="organ">Culoare</label>
      </span>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 button-col">
      <span class="p-float-label">
        <p-dropdown [options]="marimi" [(ngModel)]="planta.marime" [showClear]="true"
          placeholder="Selectează o mărime"></p-dropdown>
        <label for="organ">Mărime</label>
      </span>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 button-col">
      <span class="p-float-label">
        <input pInputText id="organ" [(ngModel)]="planta.organ" />
        <label for="organ">Organ</label>
      </span>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 button-col">
      <span class="p-float-label">
        <input pInputText id="locatie" [(ngModel)]="planta.locatie" />
        <label for="locatie">Locație</label>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 button-col">
      <span class="p-float-label">
        <textarea pInputTextarea id="observatii" [(ngModel)]="planta.observatii"></textarea>
        <label for="observatii">Observații</label>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 text-end m-2">
    <button pButton label="Renunță" class="p-button-secondary" (click)="cancelEdit()"></button>
    <button pButton label="Salvează" class="p-button-success ms-2" (click)="saveEdit()"></button>
  </div>
</div>