//List
.list-container {
  width: 100%;
  justify-content: center;
  align-content: start;
  place-items: center;
  padding-inline: 10%;
}

.list-item {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0;
  background-color: white;

  .preview-image {
    width: 90px;
    height: 80px;
    margin-right: 14px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
  }
}

// Grid
.grid-container {
  display: grid;
  width: 100%;
  overflow-y: auto;
  padding-inline: 2%;
  grid-template-columns: repeat(auto-fit, minmax(145px, 155px));
  grid-auto-rows: 228px;
  gap: 10px;
  align-content: start;
  padding-top: 1rem;
  padding-bottom: 46px;
  height: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 220px;
  align-items: center;
  margin: 6px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0;
  transition: transform 0.2s;
  background-color: white;

  .preview-image {
    padding-bottom: 8px;
    width: 150px;
    height: 135px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
}

.grid-item:hover {
  transform: scale(1.05);
}