/* You can add global styles to this file, and also import other style files */
@use 'src/app/components/gridlist' as *;

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.p-dropdown,
textarea,
input {
  width: 100%;
}

.col {
  margin: 1rem;
}

.row {
  margin: 0;
}

.button-col {
  padding: 1rem;
  padding-inline: 0.5rem;
}

//_reboot.css
ul {
  padding: 0;
  margin: 0;
}

.p-button {
  border-radius: 4px;
}

.p-dataview .p-dataview-content {
  background: none;
}

body {
  background-color: var(--surface-a);
}

.p-dialog-header {
  height: 60px;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: medium;
}

h6 {
  font-size: small;
}

a {
  text-decoration: none !important;
  color: var(--text-color);
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

color-picker {

  .box,
  .preset-label,
  hr {
    display: none !important;
  }

  .preset-color {
    width: 26px !important;
    height: 26px !important;
  }
}

.p-tabview-panels {
  padding-inline: 0.5rem;
}

.color-circle {
  input {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    padding: 0;
    cursor: pointer;
  }

  label {
    left: 4px;
  }
}

.p-accordion-content {
  padding: 0.5rem;
}

body {
  background-color: var(--surface-b);
}

.p-accordion-header-link {
  background: var(--surface-a);
  padding: 0.75rem;
}