/* You can add global styles to this file, and also import other style files */


.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.p-dropdown,
textarea,
input {
  width: 100%;
}

.col {
  margin: 1rem;
}

.row {
  margin-inline: 0.5rem;
}

.button-col {
  padding: 1rem;
  padding-inline: 0.5rem;
}

//_reboot.css
ul {
  padding: 0;
  margin: 0;
}

.p-button {
  border-radius: 4px;
}

.p-dataview .p-dataview-content {
  background: none;
}

body {
  background-color: var(--surface-a);
}

.p-dialog-header {
  height: 60px;
}